
  .image {
    /* background-image: url('../../figma_Images/vadim-sherbakov-darked.jpg'); */
    background-image: url('../../../figma_Images/vadim-sherbakov-darked.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }