.sub-title{
    color: #958F81;
    font-family: 'Inter', sans-serif;
}
.arrow-icon{
    position: relative;
    top: 5px;
    color: #2047B6;
}
.title-right{
    color: blue;
    font-weight: bolder;
}
#title{
    font-family: 'Montserrat', sans-serif;
    flex-grow: 1;
    font-weight: bolder;
}
select{
    border: 0;
    width: 40px;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
#callback{
    font-family: 'Inter', sans-serif;
}
#number{
    font-family: 'Inter', sans-serif;
}